---
import Page from '../layouts/Page.astro';
---

<Page
  title="Page not found"
  description="That page could not be found. Here are some places to go instead."
>
  <p>
    The page you were looking for does not exist or may have moved. The link
    you followed might be broken, or the page may have been removed.
  </p>
  <p>Here are some places to go instead:</p>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/writing">Writing</a></li>
    <li><a href="/work">Work</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/now">Now</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</Page>
